nav(class='navbar navbar-expand-lg navbar-light bg-light')
	a(class='navbar-brand' href="#") Mudawana
	button(class='navbar-toggler' type='button' data-toggle='collapse' data-target='#navbarNav' aria-controls='navbarNav' aria-expanded='false' aria-label='Toggle navigation')
		span(class='navbar-toggler-icon')
	div(class='collapse navbar-collapse' id='navbarNav')
		ul(class='navbar-nav')
			li(class='nav-item')
				a(class='nav-link' href="/") Home
			li(class='nav-item')
				- var user = session.user;
				if (user)
					a(class='nav-link' href='/admin') Dashboard
				else
					a(class='nav-link' href='/login') Login