<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title 404
	link(rel="stylesheet", href="/stylesheets/app.css")
body
	h4(class='text-center text-secondary', style='margin-top: 250px') Whoops, Not Found!
	script(src="/javascripts/app.js")