<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Login
	link(rel="stylesheet", href="/stylesheets/app.css")
	style().
		body {
			background-color:#ff9900;
		}
		.vertical-space {
			margin-top: 150px;
		}
body
	div(class='container')
		div(class='row vertical-space')
			div(class='col-lg-4 offset-lg-4')
				- var message = messages.message;
				if message
					div(class='alert alert-danger' role='alert') #{message}

				form(action="/login" method="post")
					div(class='form-group')
						label(class='text-light') Username
						input(type="text" name="username" class='form-control' placeholder='Username' required)
					div(class='form-group')
						label(class='text-light') Password
						input(type="password" name="password" class='form-control' placeholder='Password' required)
					button(type='submit' class='btn btn-light') Login

	script(src="/javascripts/app.js")
	